/*======== 全局 ========*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    color: #666;
    font-family: Verdana, "微软雅黑", Simsun;
    line-height: 24px;
}

fieldset,
img {
    border: 0;
}

img {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

em {
    font-style: normal;
}

input,
button,
select,
textarea {
    outline: none;
}

textarea {
    resize: none;
}

p {
    text-align: left;
}

.padding-left-no {
    padding-left: 0;
}

.padding-right-no {
    padding-right: 0;
}


/*======== Link ========*/

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.fs_14 {
    font-size: 14px;
}

.no-padding {
    padding: 0;
}

.no-border {
    border: 0 none;
}


/***头部header部分开始***/

.fl {
    float: left;
}

.fr {
    float: right;
}

.header {
    width: 100%;
    height: 33px;
    background-color: #28384b;
    box-shadow: 1px 3px 2px rgba(40, 56, 75, 0.8);
    -moz-box-shadow: 1px 3px 2px rgba(40, 56, 75, 0.8);
    -webkit-box-shadow: 1px 3px 2px rgba(40, 56, 75, 0.8);
    color: #999;
}

.header ul li {
    float: left;
    line-height: 33px;
}

.header ul.right-topbar li a {
    padding: 0 14px;
    color: #999;
}


/***导航nav部分开始***/

.site-nav {
    background: #60bbe9;
    box-shadow: 2px 0px 7px 0 #0081bc;
    position: relative;
    z-index: 9999;
}

.site-nav-c {}

.nav-in {
    background: none;
    border: none;
}

.ldb-nav {
    margin-bottom: 0;
    min-height: 44px;
    overflow: hidden;
}

.ldb-nav.nav li {
    margin: 15px 0;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font: 20px "微软雅黑";
    color: #fff;
}

.ldb-nav.nav li.last {
    padding: 0;
}

.ldb-nav.nav li a:hover,
.ldb-nav.nav li a.active {
    color: #00599c;
    background: none;
}

.ldb-nav.nav li a {
    line-height: 40px;
    padding: 0;
    color: #fff;
}

.ldb-nav.nav li img {
    display: inline;
}

.ldb-nav.nav li span {
    line-height: 40px;
}

.ldb-nav.nav li span img {
    margin-right: 10px;
}

.logo {
    margin-top: 15px;
    margin-right: 40px;
}

.ldb-nav {
    float: right;
}

.ldb-nav .nav-border {
    border-left: 1px solid #fff;
}


/***底部footer部分开始***/

.footer {
    background-color: #333;
    color: #999;
    font-family: "微软雅黑";
}

.footer .fo_info {
    padding: 35px 0px 0px;
    font-size: 14px;
}

.footer .fo_info .fo_in_l {
    /*line-height: 35px;*/
    line-height: 30px;
}

.footer .fo_info .fo_in_l a {
    color: #999;
}

.footer .fo_info .fo_in_l li.suggest a {
    padding-right: 22px;
}

.footer .fo_info .fo_in_c {
    height: 126px;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
}

.footer .fo_info .fo_in_c .tel {
    font-size: 20px;
}

.footer .fo_info p {
    margin-bottom: 20px;
}

.copyright {
    height: 106px;
    border-top: 1px solid #666;
    padding: 26px 15px 0;
    font-size: 14px;
}

.copyright p {
    padding-top: 10px;
}

.copyright img {
    float: left;
    margin-right: 15px;
}

.icon {
    display: inline-block !important;
}

@media (min-width: 768px) {
    .fo_in_l {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .fo_in_l {}
}

@media (min-width: 1200px) {


}

.xx-z-index-t {
    width: 105px;
    height: 20px;
    background: url(../images/icon-star-gray-sy.png) no-repeat left top;
}

.xx-z-index-b {
    width: 105px;
    height: 20px;
    background: url(../images/icon-star-yellow-sy.png) no-repeat left top;
}
