/* 
* @Author: Administrator
* @Date:   2015-12-14 14:16:24
* @Last Modified by:   Administrator
* @Last Modified time: 2015-12-29 11:32:30
*/
/*****************************ä¼˜ç§€æœåŠ¡å•†ã€æœºæž„é¡µ***********************************/
.no-pdr{
	padding-right: 0;
}
body{
	background-color: #edf1f8;
}
.public-nav .navbar {
    background: none;
    border: none;
    height: 44px;
    font-size: 0;
}
.public-nav .navbar .nav{
	height: 44px;
}
.public-nav .navbar .nav li{
    margin-right: 10px;
    padding: 0;
}
.public-nav .navbar .nav li a {
    display: block;
    padding: 0 15px;
    color: #28384b;
    height: 44px;
    line-height: 44px;
}
.public-nav .navbar .nav li:hover{
	background-color:#edf1f8;
	box-shadow:none;
}
.public-nav .navbar .nav li a:hover,.public-nav .navbar .nav li.active a{
	position: relative;
	bottom:0px;
	height: 44px;
	border-bottom: 4px solid #f99f2a;
	background-color: #edf1f8;
	box-shadow:none;
}
.public-nav .navbar .nav li:hover,.navbar .nav li.active{
	box-shadow:none;
}
.line{
	width: 100%;
	height: 2px;
	background-color: #dbdbdb;
}
.public{
	margin-top: 40px;
	margin-bottom: 20px;
}
.public .con_l {
    padding-left: 0;
    padding-right: 30px;
}
.public .con_list{
	margin-top: 20px;
	background-color: #fff;
}   
.public .con_r .con_list {
    padding: 20px 16px;
}
.public .con_r  .pic {
    padding: 0;
}
.public .con_list h2 {
    height: 30px;
    border-bottom: 1px solid #f99f2a;
    font-size: 18px;
    color: #333;
}
@media (min-width: 768px){
 	.public .con_list h2 {
    	font-size: 14px;
	}
	.no-pdr{
		padding-left: 0;
	}
}
@media (min-width: 1200px){
 	.public .con_list h2 {
    	font-size: 15px;
	}
	.no-pdr{
		padding-left: 15px;
	}
}
@media (min-width: 1450px) {
  	.public .con_list h2 {
    	font-size: 16px;
	}
}
.public .con_list h2 i {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 18px;
    background-color: #f99f2a;
    margin-right: 10px;
}
.public .con_list h2 a {
    line-height: 25px;
    font-size: 14px;
    color: #999;
}
.public  .con_list_bd {
    padding-top: 10px;
    font-size: 14px;
}
.public .con_list_bd li {
    height: 34px;
    line-height: 34px;
    position: relative;
}
.public .con_list_bd li i{
	color: #fd6807;
}
.public .hot_news .con_list_bd {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.public .hot_news .con_list_bd li{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} 
.public .hot_news .con_list_bd li a {
    padding-left: 17px;
    color: #333;
}
.public .hot_news .con_list_bd li a:hover{
	text-decoration: underline;
}
.public .hot_news .con_list_bd li a:active {
    color: red;
}
.public .con_r .pic img {
    max-width: 100%;
}
.public .con_l .con_list {
    padding: 15px 15px 30px;
}
.public .con_l .con_list h3{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 17px;
}
.public .con_l .con_list h3 a{
	padding: 0 6px;
	font-size: 14px;
	color:#333;
}
.public .con_l .con_list  h3 a:hover,.public .con_l .con_list  h3 a:active{
	color:red;
}
.public .con_l .con_list  h3 a.active{
	color:red;
}
.public .con_l .con_list .content{
	border: 1px solid #e7e7e7;
	font-size: 14px;
	color:#333;
}
.public .con_l   .con_item {
	border-bottom:1px solid #e7e7e7 ;
	padding: 20px 0 25px ;
}
.public  .con_item:last-child{
	border-bottom:none;
}
.public .con_l  .con_item .media-left{
	padding-right: 20px;
}
.public .con_l  .con_list.p1{
	font-weight: bold;
}
.public .con_l   .con_list .p2{
	line-height: 30px;
	
	line-height: 25px;
	display:-webkit-box !important;
	overflow:hidden;
	-webkit-text-overflow:ellipsis;
	text-overflow:ellipsis;
	
	box-orient:vertical;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;;
	line-clamp:1;
}
.public .con_l  .con_list .p2 i{
	padding-right: 5px;
}
.public .con_l   .con_item .phone i{
	width: 15px;
	height: 15px;
	background:  url(../images/phone.png)  no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.btn-tel{
	background-color: #f99f2a;
	border: 0 none;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.3),-1px 0px 2px rgba(0,0,0,0.3);
}

@media (min-width: 768px){
 	.btn-tel{
		padding: 5px 7px;
	}
	.btn-tel-lg{
		padding: 5px 30px;
	}
}
@media (min-width: 1200px){
 	.btn-tel{
		padding: 5px 12px;
	}
	.btn-tel-lg{
		
	}
}
@media (min-width: 1450px) {
  .btn-tel{
		padding: 5px 32px;
	}
}
.public .con_l  .con_item .txt{
	margin: 10px 0;
	padding: 6px;
}
.public  .wxh .media-body {
    display: table-cell;
    vertical-align: middle;
}
.page ul {
    padding: 150px 0 60px;
    font-size: 0;
    text-align: center;
}
.page ul li {
    display: inline-block;
}
.page ul li button {
    background-color: #f9f9f9 !important;
    margin: 0 4px;
}
.page ul li button.current {
    background-color: #c9c9c9 !important;
    color: #fff;
}
/*****************************ä¼˜ç§€æœåŠ¡å•†è¯¦æƒ…ã€æœºæž„è¯¦æƒ…é¡µ***********************************/
.public-detail .con_l .con_list {
    padding-bottom: 50px;
}
.public-detail .con_list .con_item{
	border: 1px solid #e7e7e7;
	font-size: 14px;
	color:#333;
}
.public-detail .con_list .con_item_wrap{
	margin-top: 50px;
}
.public-detail .con_l  .con_list .p1{
	color:#00479d;
	font-size: 18px;
	font-weight: normal;
}
.public-detail .con_list .con_item:first{
	border-bottom: 1px solid #f99f2a;
}
.public-detail .con_list .con_item .hd{
	border-bottom:1px dotted #b5b5b5 ;
	padding-bottom: 10px;
}
.public-detail .product_name{
	font-size: 18px;
	color:#333;
}
.public-detail .product_name span{
	line-height: 34px;
	margin-left: 5px;
}
.public-detail .con_list .con_item  .col-md-2{
	padding-left: 0;
}
.public-detail .con_list .con_item .hd .title{
	color:#000;
	font:bold 14px/20px "å¾®è½¯é›…é»‘";
	height: 25px;
}
.public-detail .con_list .con_item .bd{
	padding-top: 10px;
}
.col3c{
	color:#3c5267;
	margin-bottom: 8px;
}
.color_6{
	color:#666;
}
.product   p i{
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	margin-right: 8px;
}
.product  .icon1{
	width: 32px;
	background:url(../images/p_icon1.png)  no-repeat;
}
.product  .icon2{
	width: 32px;
	background:url(../images/p_icon2.png)  no-repeat;
}
.product .icon3{
	width: 32px;
	background:url(../images/p_icon3.png)  no-repeat;
}
.public-detail .con_list .con_item .col-md-4{
	padding-right: 0;
}
.public-detail .con_list .con_item .col-md-4:last-child{
	border-right:none ;
}
.public-detail .con_list .con_item_wrap h2{
	color:#fd6807;
	font-weight: 500;
}
.product_recommend  .con_item_wrap{
	margin-top: 50px !important;
}
.public-detail .con_list .con_item_wrap h2 {
	border-bottom: none;
}
.public-detail .con_list .con_item_wrap .con_item{
	border-top: 1px solid #f99f2a;
}
.public-detail .con_list .btn-tel{
    top: 50%;
    margin-top: 22px;
}
.public-detail  p span.red{
	color:red;
}
.public-detail .success_case .con_item .bd p{
	line-height: 20px;
} 
.public-detail .success_case .con_item .bd .title{
	line-height: 30px;
} 
.public-detail .success_case .con_item .fs12{
	font-size: 12px;
}
.con_item_l{
	margin-bottom: 30px;
}
/*****************************æœºæž„è¯¦æƒ…é¡µ***********************************/
.public-detail .con_l .bs_info{
	padding: 20px 0;
}
.public-detail .bs_info .row{
	margin-left: 0;
}
.public-detail .con_list .con_item .bs_info_l{
    border-right:0;
    margin-bottom: 30px;
}
.bz ul{
	display: inline-block;
}
.bs_icon{
	display: inline-block;
	vertical-align: middle;
	height: 22px;
	margin-right: 8px;
}
.bz span{
	display: inline-block;
}
.public-detail .bs_info_l .star{
	width: 94px;
	height: 18px;
	background:  url(../images/gray_star.png) no-repeat;
}
.public-detail .bs_info_l .star span{
	display: block;
	width: 70%;
	height: 18px;
	background:  url(../images/yellow_star.png) no-repeat;
}
.public-detail .bs_info_l .col-md-3{
	color:#333;
	font-weight: bold;
}
.public-detail .bs_info_l .col-md-8{
	color:#333;
	padding-left: 0;
}
.public-detail .bs_info .bs_photo img{
	max-width:100%;
	margin: 0 auto 20px;
}
.pd-small ul{
	padding-top: 60px;
}
.no-pdl{
	padding-left: 0;
}
/*****************************äº§å“åˆ—è¡¨é¡µ***********************************/
.con_r .media-body .p1{
	line-height: 25px;
	width:132px;
	overflow:hidden;
	white-space:nowrap;
	-webkit-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	text-overflow:ellipsis;
	font-size: 12px;
}
.con_r .media-body .p2{
	line-height: 20px;
	display:-webkit-box !important;
	overflow:hidden;
	-webkit-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	text-overflow:ellipsis;
	
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
	-ms-box-orient:vertical;
	box-orient:vertical;
	
	-webkit-line-clamp:2;
	-moz-line-clamp:2;
	-o-line-clamp:2;
	-ms-line-clamp:2;
	line-clamp:2;
	font-size: 12px;
}
.no-margin{
	margin: 0;
}
.public .con_l .category{	
	padding:25px 15px;
}
.public-detail .con_l .category .con_item{
	padding: 0;
	border-color:#d2d2d2;
	background-color: #f7f5f5;
}
.category_r{
	border-left:1px solid #d2d2d2;
	background-color: #fff;
}
.category_r .row{
	border-bottom: 1px dashed #d2d2d2;
}
.category p,.category_r ul li{
	height: 42px;
	line-height: 42px;
	text-align: center;
}
.category_r ul li{
	float: left;
}
.category_r ul li a,.category_r .select_all a{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin: 0 4px;
	border:1px solid #fff;
	border-radius: 5px;
	color:#333;
}
.category_r   a span{	
	display:block;
	padding: 0 10px;	
}

.category_r  a:hover, .category_r  a.active {
	color: #3276b5;
	border: 1px solid #3276b5;
	border-radius: 5px;
	text-decoration: none;
	
}
.category_r .select_all a{
	margin: 0;
}
.zysf .category_l,.zysf .category_r{
	padding-top: 8px;
}
.dkyt .category_l,.dkyt .category_r{
	padding-bottom: 8px;
}
.dkyt .category_r .row{
	border-bottom: none;
}
.product-list{
	padding-top:0 !important;
	padding-bottom: 0 !important;
}
.public-detail .product_list .product{
	margin-top:0;
	padding:40px 0;
}
/*****************************äº§å“æŽ¨ä»‹é¡µ***********************************/
.product_tab{
	padding: 0 !important;
}
.public .product_tab .tab_nav{
	padding: 0;
	background-color: #f6f6f6;
}
.public .product_tab .nav_item{
	height: 56px;
	line-height:56px;	
	border-bottom: 1px solid #ececec;
	border-left: 1px solid #ececec;
	cursor: pointer;
}
.public .product_tab .nav_item.cur{
	background-color: #fff;
	border-left: 0;
}
.public .product_tab .content_item{
	display: none;
}
.public .product_tab .content_item.cur{
	display: block;
}
.public .con_list_public .con_item_wrap h2{
	margin-bottom: 15px;
    border-bottom: 1px dashed #d2d2d2;
    color:#333;
}
.public .con_list_public .qydk{
	margin-top: 5px !important;
}
.public .con_list_public .pro_type2 h2 i{
	background-color: #7ecef4;
}
.public .con_list_public .pro_type2 .con_item {
    border-top: 1px solid #7ecef4;
}
.public .con_list_public .pro_type2 .btn-tel{
	background-color: #7ecef4;
}
.btn-wrap{
	padding: 0;
}
/*****************************äº§å“è¯¦æƒ…é¡µ***********************************/
.public .con_list_public .con_item_wrap{
	margin-top: 5px;
}
.public  .product_detail .con_item{
	border: none;
	position: relative;
	margin-left: 20px;
	margin-right: 40px;
	margin-bottom: 20px;
}
.public .con_list_public .product_detail h2{
	margin-bottom: 45px;
}
.public  .product_detail .con_item .title{
	width:98px;
	height:30px;
	line-height: 30px;
	background:#7ecef4;
	border-radius:3px;
	position: absolute;
	top:-30px;
	left:0;
	text-align: center;
	color: #f6f6f6;
}
.public  .product_detail ul{
	margin-left: 16px;
}
.public  .product_detail ul li{
	list-style:disc;
	color:#dcdcdc;
}
.public  .product_detail ul li span{
	color:#333;
}
.public  .service_manager .con_item{
	border-color:#d2d2d2 !important;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.public  .service_manager .p_bs{
	margin-top: 6px;
}
.public .pro_name{
	padding-bottom:30px;
	font-size: 14px;
	color:#333;
}
.public .pro_name p{
	float: left;
	margin-right: 20px;
}
.public .pro_name h2{
	height: 45px;
}
.public .pro_name h2 span{
    width: 34px;
    height: 34px;
    background-color: #ccc;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.public .pro_name .dk_input{
	margin: 10px 0;
}
.public .pro_name .dk_input .col-md-6{
	padding-left: 0;
}
.public .pro_name .dk_input span{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.public .pro_name  .inputBox{
	display: inline-block;
	border: 1px solid #d7dee8;
}
.public .pro_name .dk_input  .txt{
	width: 70px;
	height: 28px;
	border: 0;
	padding-left: 5px;
}
.public .pro_name .dk_input button{
	width: 57px;
	height: 30px;
	background-color: #e4e4e4;
	border: 0;
}
.public .qzd{
	padding-bottom: 30px;
}
.public .qzd .hd{
	line-height: 40px;
	background-color: #faf9f7;
	border: 1px solid #e2e2e2;
	font-size: 18px;
	color:#333;
	padding-left: 15px;
}
.public .qzd .bd {
	padding-top: 30px;
	background-color: #ccc;
}
.public .qzd .bd a{
	display: block;
	text-align: center;
	color:#333;
	font-size: 14px;
}
.public .qzd .bd a p{
	text-align: center;
	margin: 10px 0;
}

.mar-bottom{
	margin-bottom: 20px;
}